@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

body {
	@apply bg-dark-gray text-light-gray font-code;
	background-image: url("/pictures/background.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
}

span{
	@apply text-orange;
}
