@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

body {
	@apply bg-dark-gray text-light-gray font-code;
	background-image: url("/pictures/background.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
}

span{
	@apply text-orange;
}

#profile-pic {
	min-width: 150px;
	min-height: 150px;
	width: 100%;
	height: 100%;
	max-width: 100%;
	max-height: 200px;
}

.terminal {
	@apply rounded-md bg-dark-gray w-full max-w-5xl shadow-lg;
}
.terminal-header {
	@apply text-center bg-light-gray text-dark-gray rounded-t-md;
}

.terminal-body {
	@apply p-5  sm:flex;
}

.terminal-box {
	@apply border-2 border-light-gray rounded-md;
}

.terminal-box > legend {
	@apply px-5 md:ml-5 text-center md:text-left;
}

